#orderForm {
  margin-top: 3em;
  margin-left: 2em;
  margin-bottom: 3em;
}

#customers {
  margin-top: 1em;
  margin-right: 2em;
}

input, select {
  margin-top: 0.8em;
  display: inline-block;
}

div {
  text-align: center;
}

table {
  width: 50%;
  display: inline-block;
}

/* classes, because they may be of use in the future */
.chunk {
  margin-bottom: 2em;
}

.form-box {
  width: 40em;
  background-color: #53A7EA;
  display: inline-flex;
  justify-content: space-between;
}

.summary-button {
  display: block;
  margin: auto;
}

.w {
  width: 99%;
}

.square-button {
  width: 3em;
  height: 3em;
}

.b {
  width: 4.5em;
}

.n {
  width: 2ch;
}
